.img1{
    
    width: 100px;
    height: 80px;
    position: absolute;
    top: 45px;
    left: 2%;
    border-radius: 20px;
    

}
.header{
    background-color: rgb(238, 165, 30);
}
body{
    
    background: url('images/bgimg1.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    text-align: center;
}
.sb{
    position: absolute;
    top: 70px;
    left: 150px;
}
.header .sb .search{
    border-radius: 20px;
    width: 800px;
    height: 35px;
    border-color: white;

}
.sbtn{
    border-radius:  20px; 
    width: 50px;
    height: 35px;
    position: absolute;
    font-size: 20px;
    background-color: rgb(231, 194, 113);
    left: 750px;
    
}
.lbtn{
    position: absolute;
    width: 50;
    height: 35;
    left: 820;
    border-radius:  12px; 
    border-color: white;
}
.signbtn{
    position: absolute;
    border-radius:  12px; 
    left: 887;
    height: 35;
    width: 60;
    border-color: white;
    
}
.sele{
    position: absolute;
    border-radius: 12px; 
    left: 960;
    height: 35;
    width: 60;
    font-size: 12px;
    border-color: white;
   
}
.crt{
    position: absolute;
    border-radius:  12px; 
    left: 1038;
    height: 35;
    width: 60;
    font-size: 20px;
    border-color: white;
}
a{
    color: white;
    font-size: 18;
}


/* form*/

body {
    margin: 0;
    padding: 0;
}

.container {
    align-items: right;
    width: 22%;
    margin: 50px auto;
    background-color:orange;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 72% ;
}
h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 300px;
    margin: 0 auto;
    
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f9f9f9;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}
input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}
.subm{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(86, 231, 19);
}
.sele:hover{
    background-color: #4CAF50;
}
.lst {
    position: absolute;
    left: 3%;
    background-color: orange;
    top: 197px;
    border-radius: 10px;
    width: 250px;
}
.itm{
    color: white;
    position: absolute;
    top: 520px;
    font-size: 35px;
    margin-left:  25px ;
}
.loku{
    width: 570px;
    position: absolute;
    left: 340px;
    top: 210px;
    border-color: #f9f9f9;
    border-width: 2px;
    color: black;
}
.x{
    position: absolute;
    left: 890px;
    top: 209px;
    color:black;
}
.itm1{
    position: absolute;
    top: 99%;
    left: 3%;
    background-color:orange;
    border-radius: 12px;
    text-align: center;
}
.itm1-1{
    text-align: center;
    align-items: center;
    text-decoration: none;

}
.itm2{
    position: absolute;
    top: 99%;
    left: 35%;
    background-color:orange;
    border-radius: 12px;
    text-align: center;
}
.itm2-1{
    text-align: center;
    align-items: center;

}
.itm3{
    position: absolute;
    top: 172%;
    left: 3%;
    background-color:orange;
    border-radius: 12px;
    text-align: center;
}
.itm4{
    position: absolute;
    top: 172%;
    left: 35%;
    background-color:orange;
    border-radius: 12px;
    text-align: center;
}
.itm4-1{
    height: 220px;
    width: 220px;
}
.itm5{
    position: absolute;
    top: 172%;
    left: 67%;
    background-color:orange;
    border-radius: 12px;
    text-align: center;
}
.itm5-1{
    height: 220px;
    width: 220px;
}
s{
    color: red;
    font-size: 14px;
}
